@use '2-base/misc';

@use '3-components/btn';
@use '3-components/card';
@use '3-components/input';

@use '4-pages/weather';
@use '4-pages/onboarding';

.stats {
  // position: absolute !important;
  right: 0 !important;
  bottom: 0 !important;
	top: auto !important;
	left: auto !important;
}